# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.idea/
*.iml
*.iws
*.ipr
*.sqlite

# IntelliJ
*.iml
.idea/
.idea_modules/

# Flutter/Dart/Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
android/app/build/
ios/Flutter/.last_build_id
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/Flutter/flutter_export_environment.sh
ios/Pods/
ios/.symlinks/
ios/Runner/GeneratedPluginRegistrant.*
linux/flutter/ephemeral/
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Flutter/ephemeral/
macos/Pods/
windows/flutter/ephemeral/

# Firebase
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
macos/Runner/GoogleService-Info.plist

# Wordsaga
wordsaga/build/
wordsaga/android/app/build/
wordsaga/.dart_tool/
wordsaga/.pub-cache/
wordsaga/.pub/
wordsaga/ios/Pods/
wordsaga/macos/Pods/
wordsaga/linux/flutter/ephemeral/
wordsaga/windows/flutter/ephemeral/
wordsaga/macos/
wordsaga/linux/
wordsaga/windows/
wordsaga/web/
wordsaga/ios/
wordsaga/android/
.env
